---
import Sidebar from "../../components/sidebar.astro";
import Layout from "../../layouts/layout.astro";

export async function getStaticPaths() {
  const pages = [
    {
      slug: "sun",
      title: "Sun",
      text: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vestibulum in vel, auctor viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. lorem epsom dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vestibulum in vel, auctor viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vestibulum in vel, auctor viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. lorem epsom dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vestibulum in vel, auctor viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.",
      image: "../../../assets/Sun.gif",
    },
    {
      slug: "earth",
      title: "Astro products",
      text: "We have lots of products for you",
      image: "../../../assets/Earth.gif",
    },
    {
      slug: "moon",
      title: "The ultimate Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
      image: "../../../assets/Moon.gif",
    },
  ];
  return pages.map(({ slug, title, text, image }) => {
    return {
      params: { slug },
      props: { title, text, image },
    };
  });
}

const { title, text, image } = Astro.props;
---

<Layout>
  <div class="flex">
    <section class="sidebar"><Sidebar /></section>
    <section class="bg-black text-white w-full">
      <div class="planet-details flex justify-between items-center w-full">
        <div class="content p-10">
          <h1 class="text-3xl font-bold">{title}</h1>
          <h2>Description</h2>
          <p class="max-w-[80ch]">{text}</p>
        </div>
        <div class="img mr-24">
          <img src={image} alt={title} />
        </div>
      </div>

      <div class="sound flex gap-2 items-center ml-10 mt-10 rounded-full">
        <button
          class="cursor-pointer"
          id="audio-control"
          aria-label="Play audio"
        >
          <!-- Icon for play, you can use an SVG or font icon -->
          🔊
        </button>
        <audio id="audio" class="hidden">
          <source src="../../../assets/sound.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <p>This is how {title} Sounds</p>
      </div>

      <!-- Ask AI Section Below the Table -->
    </section>
  </div>
</Layout>
